* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.header {
    background-color: blueviolet;
    width: 100%;
    height: 400px;
    background: #c31432;
    /* fallback for old browsers */
    background: linear-gradient(to right, #240b36b9, #c31431b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36b9, #c31431b0), url("banner.jpg");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.acerca-de {
    color: white;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    right: 10px;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.header p {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: 25%;
    font-size: 30px;
}

.header span {
    color: #fd002ab0;
    font-family: 'Times New Roman', Times, serif;
}


/*PREDIVISION*/

.predivision1 {
    background-color: #c0e218;
    height: 3px;
    width: 80%;
    margin: 20px auto;
}

.predivision2 {
    background-color: #c0e218;
    height: 2px;
    width: 90%;
    margin: 20px auto;
}


/*CONTENIDO */

.contenido {
    color: #c31432;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    position: relative;
    width: 80%;
    margin: auto;
}


/*CONTENIDO 1*/

.contenido1 {
    position: relative;
    margin-top: 100px;
}

.contenido1 img {
    display: block;
    width: 400px;
    margin-left: auto;
    padding: 50px;
}

.contenido1 h2 {
    color: #c0e218;
    position: absolute;
    top: 50%;
    left: 15%;
}


/*CONTENIDO 2*/

.contenido2 {
    position: relative;
}

.contenido2 img {
    display: block;
    width: 400px;
    margin-right: auto;
    padding: 50px;
}

.contenido2 h2 {
    color: #c0e218;
    position: absolute;
    top: 50%;
    right: 15%;
}


/*CONTENIDO 3*/

.contenido3 {
    position: relative;
}

.contenido3 img {
    display: block;
    width: 400px;
    margin-left: auto;
    padding: 50px;
}

.contenido3 h2 {
    color: #c0e218;
    position: absolute;
    top: 50%;
    left: 5%;
}

.enfasis-calidad {
    color: white;
    cursor: pointer;
}


/*DIVSIONES DE FOOTER */

.contenido4 {
    background-color: #c0e218;
    height: 3px;
    width: 90%;
    margin: 20px auto;
}

.contenido5 {
    background-color: #c0e218;
    height: 2px;
    width: 80%;
    margin: 20px auto;
}


/*CONTENIDO DE EXHIBICION SLIDER*/

.slider_blue {
    width: 80%;
    margin: auto;
    height: 500px;
    overflow: hidden;
    padding-top: 50px;
}

.slider_blue ul {
    padding: 0;
    display: flex;
    width: 200%;
    animation: slider_blue 10s infinite alternate-reverse;
}

.slider_blue li {
    width: 80%;
    list-style: none;
}

.slider_blue li img {
    width: 50%;
    display: block;
    margin: auto;
}

@keyframes slider_blue {
    0% {
        margin-left: 0;
    }
    40% {
        margin-left: 0%;
    }
    50% {
        margin-left: -100%;
    }
    60% {
        margin-left: -100%;
    }
    80% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}


/*2*/

.slider_uber {
    width: 80%;
    margin: auto;
    height: 500px;
    overflow: hidden;
    padding-top: 50px;
}

.slider_uber ul {
    padding: 0;
    display: flex;
    width: 200%;
    animation: slider_blue 11s infinite alternate;
}

.slider_uber li {
    width: 80%;
    list-style: none;
}

.slider_uber li img {
    width: 50%;
    display: block;
    margin: auto;
}

@keyframes slider_uber {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0%;
    }
    40% {
        margin-left: -100%;
    }
    60% {
        margin-left: -100%;
    }
    80% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}


/*3*/

.slider_viaje {
    width: 80%;
    margin: auto;
    height: 800px;
    overflow: hidden;
    padding-top: 50px;
}

.slider_viaje ul {
    padding: 0;
    display: flex;
    width: 200%;
    animation: slider_blue 12s infinite alternate-reverse;
}

.slider_viaje li {
    width: 80%;
    list-style: none;
}

.slider_viaje li img {
    width: 50%;
    display: block;
    margin: auto;
}

@keyframes slider_viaje {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0%;
    }
    40% {
        margin-left: -100%;
    }
    60% {
        margin-left: -100%;
    }
    80% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}


/*LINEAS DIVISORAS*/

.contenido6 {
    background-color: #c0e218;
    height: 3px;
    width: 90%;
    margin: 40px auto;
}

.contenido7 {
    background-color: #c0e218;
    height: 2px;
    width: 80%;
    margin: 40px auto;
}


/*FOOTER*/

.footer {
    width: 80%;
    margin: auto;
}

.footer h1 {
    color: #c31432;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
}

.footer h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}

.footer img {
    width: 50px;
    display: block;
    margin: 20px auto;
}

.footer a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}


/*RESPONSIVE WEB DESIGN*/

@media (max-width:700px) {
    /*OTORGA UNA PAGINA WEB A TU  NEGOCIO*/
    /*HEADER*/
    .header p {
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        position: relative;
        top: 25%;
        font-size: 30px;
    }
    /*CONTENIDO */
    .contenido {
        width: 80%;
    }
    .contenido h1 {
        font-size: 20px;
    }
    /*CONTENIDO 1*/
    .contenido1 h2 {
        position: relative;
        left: auto;
        margin: 20px 0 0 0;
        font-size: 20px;
    }
    .contenido1 img {
        display: block;
        width: 250px;
        margin: 0 auto 0 auto;
    }
    /*CONTENIDO 2*/
    .contenido2 h2 {
        position: relative;
        right: auto;
        margin: 20px 0 0 0;
        font-size: 20px;
    }
    .contenido2 img {
        display: block;
        width: 250px;
        margin: 0 auto 0 auto;
    }
    /*CONTENIDO 3*/
    .contenido3 h2 {
        position: relative;
        left: auto;
        margin: 20px 0 0 0;
        font-size: 20px;
    }
    .contenido3 img {
        display: block;
        width: 250px;
        margin: 0 auto 0 auto;
    }
    /*CONTENIDO DE EXHIBICION*/
    .slider_blue {
        width: 80%;
        margin: 50px auto 0px;
        height: 500px;
        overflow: hidden;
        padding: 0;
    }
    .slider_blue ul {
        padding: 0;
        display: flex;
        width: 200%;
        animation: slider_blue 10s infinite alternate-reverse;
    }
    .slider_blue li {
        width: 80%;
        list-style: none;
    }
    .slider_blue li img {
        width: 70%;
        display: block;
        margin: auto;
    }
    @keyframes slider_blue {
        0% {
            margin-left: 0;
        }
        40% {
            margin-left: 0%;
        }
        50% {
            margin-left: -100%;
        }
        60% {
            margin-left: -100%;
        }
        80% {
            margin-left: -200%;
        }
        100% {
            margin-left: -200%;
        }
    }
    /*2*/
    .slider_uber {
        width: 80%;
        margin: auto;
        height: 500px;
        overflow: hidden;
        padding: 0;
    }
    .slider_uber ul {
        padding: 0;
        display: flex;
        width: 200%;
        animation: slider_blue 11s infinite alternate;
    }
    .slider_uber li {
        width: 80%;
        list-style: none;
    }
    .slider_uber li img {
        width: 70%;
        display: block;
        margin: auto;
    }
    @keyframes slider_uber {
        0% {
            margin-left: 0;
        }
        20% {
            margin-left: 0%;
        }
        40% {
            margin-left: -100%;
        }
        60% {
            margin-left: -100%;
        }
        80% {
            margin-left: -200%;
        }
        100% {
            margin-left: -200%;
        }
    }
    /*3*/
    .slider_viaje {
        width: 80%;
        margin: auto;
        height: 500px;
        overflow: hidden;
        padding: 0;
    }
    .slider_viaje ul {
        padding: 0;
        display: flex;
        width: 200%;
        animation: slider_blue 12s infinite alternate-reverse;
    }
    .slider_viaje li {
        width: 80%;
        list-style: none;
    }
    .slider_viaje li img {
        width: 70%;
        display: block;
        margin: auto;
    }
    @keyframes slider_viaje {
        0% {
            margin-left: 0;
        }
        20% {
            margin-left: 0%;
        }
        40% {
            margin-left: -100%;
        }
        60% {
            margin-left: -100%;
        }
        80% {
            margin-left: -200%;
        }
        100% {
            margin-left: -200%;
        }
    }
    /*LINEAS DIVISORAS*/
    .contenido6 {
        background-color: #c0e218;
        height: 3px;
        width: 80%;
        margin: auto;
    }
    .contenido7 {
        background-color: #c0e218;
        height: 2px;
        width: 70%;
        margin: 20px auto;
    }
    /*FOOTER*/
    .footer h1 {
        color: #c31432;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        font-size: 20px;
    }
    .footer h2 {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 15px;
    }
    .footer img {
        width: 50px;
        display: block;
        margin: 10px auto;
    }
    .footer a {
        text-decoration: none;
        text-align: center;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        display: block;
        margin-bottom: 10px;
    }
}

;